# AWS Account & Region Configuration
CDK_DEFAULT_ACCOUNT=121141733713
CDK_DEFAULT_REGION=us-east-1

# Secrets Manager ARN for MongoDB
MONGODB_SECRET_ARN=arn:aws:secretsmanager:us-east-1:121141733713:secret:MONGODB_SECRET_ARN-aY3sHA
